[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pkginfo = "*"
twine = "*"
pip = "==23.0.1"
setuptools = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
pylint = "*"
semver = "*"

[requires]
python_version = "3.11" # must match the Python version configured in Dockerfile
